!!!
%html
  %head
    %title AwesomeAnswers
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand= link_to "Home", root_path
          .pull-right
            - if user_signed_in?
              Hello 
              = current_user.full_name
              = link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              = link_to "Sign In", new_user_session_path
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Questions", questions_path
    .container

      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:alert]
        .alert.alert-danger= flash[:alert]
      = yield